<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nokhrin.corners">

    <application
        android:allowBackup="true"
        android:icon="@drawable/homer"
        android:label="@string/app_name2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Corners">
        <activity
            android:name=".multiplayer.ActivityMulti3Game"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_multi3_game"
            android:theme="@style/Theme.Corners.Fullscreen"></activity>
        <activity
            android:name=".multiplayer.ActivityMulti2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_multi2"
            android:theme="@style/Theme.Corners.Fullscreen" />
        <activity
            android:name=".multiplayer.ActivityMultiplayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_multiplayer"
            android:theme="@style/Theme.Corners.Fullscreen" />
        <activity
            android:name=".classical.ActivityClassic"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_classic"
            android:theme="@style/Theme.Corners.Fullscreen" />
        <activity
            android:name=".levels.ActivityLevels"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_levels"
            android:theme="@style/Theme.Corners.Fullscreen" />
        <activity
            android:name=".ActivityStart"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start"
            android:theme="@style/Theme.Corners.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>